<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
             "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
             
<mapper namespace="com.kyung.mapper.ArticleMapper">
	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
		insert article (board, writer, title, content, category)
		values (#{boardId}, #{userId}, #{title},#{contents}, #{category})
	</insert>
</mapper>