<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
             "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
             
<mapper namespace="com.kyung.mapper.BoardMapper">

	<select id="boardArticles" resultType="ArticlesByMeeting">
		SELECT b.name, c.name, a.title, u.name, u.nickname, a.date
		FROM article a JOIN board b
		ON a.board = b.id
		JOIN user u
		ON a.writer = u.id
		JOIN category c
		ON a.category = c.id 
		WHERE b.meetingId = #{meetingId}
	</select>

	<select id="boardCategory" resultType="Category">
		select c.id, c.name
		from category c left join board b
		on c.boardId = b.id
		where b.meetingId = #{meetingId}
	</select>

	<select id="findOne" resultType="Board">
		SELECT * FROM Board WHERE id = #{id}
	</select>
	<select id="findAll" resultType="Board">
		SELECT * FROM Board
	</select>
	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
		INSERT Board(meetingId, name)
		VALUES (#{meetingId}, #{name})
	</insert>
	<delete id="delete">
		delete FROM Board WHERE id = #{id}
	</delete>
</mapper>