<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
             "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
             
<mapper namespace="com.kyung.mapper.MeetingMapper">
	
	<select id="findMidByMname" resultType="Integer">
		select meeting.id
		from meeting
		where meeting.name = #{name}
	</select>

	<select id="findBoardByMeeting" resultType="Board">
		select b.id, b.name
		from board b join meeting m
		on b.meetingId = m.id
		where m.id = #{meetingId};
	</select>

	<select id="findUserByMeeting" resultType="userByMeeting">
		select mm.meetingId 'meetingId', u.studentNumber 'studentNumber', u.name 'userName', u.nickname 'userNickName', mm.type 'type'
		from user u right join meetingMember mm 
		on u.id=mm.memberId
		where mm.meetingId = #{meetingId}
		AND u.id = #{userId}
	</select>

	<select id="findAll" resultType="Meeting">
		SELECT * FROM Meeting
	</select>
	
	<select id="findOne" resultType="Meeting">
		SELECT * FROM Meeting
		WHERE id = #{id}
	</select>
	
	<select id="findByName" resultType="Meeting">
		SELECT * FROM Meeting
		WHERE name = #{name}
	</select>
	
	<select id="findByLeader" resultType="Meeting">
		SELECT * FROM Meeting
		WHERE leader = #{leader}
	</select>
	
	<delete id="delete">
		DELETE FROM Meeting 
		WHERE id = #{id}
	</delete>
	
	<update id="update">
		UPDATE Meeting SET
			name = #{meeting.name},
			mexplain = #{meeting.mexplain}
		WHERE id = #{meetingId}
	</update>
	
	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
		INSERT Meeting (name, mexplain)
		VALUES (#{name}, #{mexplain})
	</insert>
	
</mapper>