<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
             "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kyung.mapper.UserMapper">
	
	<select id="myMeetingByUser" resultType="MyMeetingByUser">
		select m.id 'meetingId', m.name 'meetingName', m.mexplain 'mexplain', m.date 'meetingDate',
				mm.id 'mmId', mm.memberId 'memberId', mm.type 'memberType', mm.date 'memberDate'
		from meeting m left join meetingmember mm
		on m.id = mm.meetingId
		where mm.type=3
		and mm.memberId = #{userId}
	</select>
	
	<select id="userJoinMeetings" resultType="UserJoinedMeetings">
		select m.id meetingId, m.name meetingName, m.mexplain meetingExplain, m.date meetingDate, 
				u.name userName, mm.type mmType, mm.date mmDate
		from meeting m left join meetingMember mm
		on m.id = mm.meetingId 
		join user u on mm.memberId = u.id
		where mm.memberId = #{id};
	</select>
	
	<select id="findOne" resultType="User">
		SELECT * FROM User WHERE id = #{id}
	</select>
	
	<select id="findByStudentNumber" resultType="User">
		SELECT * FROM User WHERE studentNumber = #{studentNumber}
	</select>
	
	<select id="findByDepartmentId" resultType="User">
		SELECT * FROM User WHERE departmentId = #{departmentId}
	</select>
	
	<select id="findByNickname" resultType="User">
		SELECT * FROM User WHERE nickname = #{nickname}
	</select>
	
	<select id="findByName" resultType="User">
		SELECT * FROM User WHERE name = #{name}
	</select>
	
	<select id="findAll" resultType="User">
		SELECT * FROM User
	</select>
	
	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
		INSERT User (studentNumber, name, nickname, password, departmentId, question, answer, type, gender)
		VALUES (#{studentNumber}, #{name}, #{nickname}, #{password}, #{departmentId}, #{question}, #{answer}, #{type}, #{gender})
	</insert>
	
	<update id="update">
		UPDATE User SET
			studentNumber = #{studentNumber},
			name = #{name},
			nickname = #{nickname},
			password = #{password},
			departmentId = #{departmentId},
			question = #{question},
			answer = #{answer},
			type = #{type},
			gender = #{gender}
	</update>
	
	<delete id="delete">
		DELETE FROM User WHERE id = #{id}
	</delete>
	
	<update id="edit">
		UPDATE User SET
			name = #{name},
			nickname = #{nickname},
			departmentId = #{departmentId},
			question = #{question},
			answer = #{answer},
			gender = #{gender}
		WHERE studentNumber = #{studentNumber}
	</update>

	<update id="pwUpdate">
		UPDATE User SET
			password = #{password}
		WHERE 
			studentNumber = #{studentNumber}
	</update>
</mapper>