<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
             "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kyung.mapper.UserMapper">

	<select id="findOne" resultType="User">
		SELECT * FROM User WHERE id = #{id}
	</select>
	
	<select id="findByStudentNumber" resultType="User">
		SELECT * FROM User WHERE id = #{studentNumber}
	</select>
	
	<select id="findByDepartmentId" resultType="User">
		SELECT * FROM User WHERE departmentId = #{departmentId}
	</select>
	
	<select id="findByNickname" resultType="User">
		SELECT * FROM User WHERE nickname = #{nickname}
	</select>
	
	<select id="findByName" resultType="User">
		SELECT * FROM User WHERE name = #{name}
	</select>
	
	<select id="findAll" resultType="User">
		SELECT * FROM User
	</select>
	
	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
		INSERT User (studentNumber, name, nickname, password, departmentId, question, answer, type, gender)
		VALUES (#{studentNumber}, #{name}, #{nickname}, #{password}, #{departmentId}, #{question}, #{answer}, #{type}, #{gender})
	</insert>
	
	<update id="update">
		UPDATE User SET
			studentNumber = #{StudentNumber},
			name = #{name},
			nickname = #{nickname},
			password = #{password},
			departmentId = #{departmentId},
			question = #{question},
			answer = #{answer},
			type = #{type},
			gender = #{gender}
	</update>
	
	<delete id="delete">
		DELETE FROM User WHERE id = #{id}
	</delete>

</mapper>